container_commands:
  01_pipupgrade:
    command: "pip install --upgrade pip"
    leader_only: true

  02_installpillow:
    command: "pip install Pillow==3.3.0"
    leader_only: true

  03_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  04_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  05_createsu:
    command: "python manage.py createsu"
    leader_only: true

  06_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    "PYTHONPATH": "/opt/python/ondeck/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
